html {
  box-sizing: border-box;
  font-size: 14px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Acrom Bold";
  color: $main-heading-color;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  margin: 0 auto;
  width: fontsz(480);
  padding: 0 fontsz(16);

  @media screen and (min-width: 768px) {
    width: fontsz(672);
  }

  @media screen and (min-width: 1200px) {
    width: fontsz(746);
  }
}

.link {
  display: block;
  text-decoration: none;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
