//Для breakpoints
@mixin mobile {
  @media screen and (min-width: 480px) { @content; }
}

@mixin tablet {
  @media screen and (min-width: 768px) { @content; }
}

@mixin desktop {
  @media screen and (min-width: 1200px) { @content; }
}

// Центрирование абсолютно позиционированных элементов
@mixin сenter-xy($top: 50%, $left: 50%) {
  position: absolute;
  left: $left;
  top: $top;
  transform: translate(-$top, -$left);
}

@mixin сenter-x($left: 50%) {
  position: absolute;
  left: $left;
  transform: translateX(-$left);
}

@mixin сenter-y($top: 50%) {
  position: absolute;
  top: $top;
  transform: translateY(-$top);
}

// all - применит все
// hor - flex и j-c: center
// ver - flex и a-i: center
@mixin center-flex($type: 'all') {
  display: flex;
  @if $type== 'all' {
    justify-content: center;
    align-items: center;
  } @else if $type== 'hor' {
    justify-content: center;
  } @else if $type== 'ver' {
    align-items: center;
  }
}

// для background
@mixin bg-img($path: '', $size: cover, $repeat: no-repeat, $pos: center) {
  background-image: url($path);
  background-size: $size;
  background-repeat: $repeat;
  background-position: $pos;
}