//Для breakpoints
@mixin mobile {
  @media screen and (min-width: 480px) {
    @content;
  }
}

@mixin tablet {
  @media screen and (min-width: 768px) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: 1200px) {
    @content;
  }
}

// Центрирование абсолютно позиционированных элементов
@mixin сenter-xy($top: 50%, $left: 50%) {
  position: absolute;
  left: $left;
  top: $top;
  transform: translate(-$top, -$left);
}

@mixin сenter-x($left: 50%) {
  position: absolute;
  left: $left;
  transform: translateX(-$left);
}

@mixin сenter-y($top: 50%) {
  position: absolute;
  top: $top;
  transform: translateY(-$top);
}

// all - применит все
// hor - flex и j-c: center
// ver - flex и a-i: center
@mixin center-flex($type: "all") {
  display: flex;
  @if $type== "all" {
    justify-content: center;
    align-items: center;
  } @else if $type== "hor" {
    justify-content: center;
  } @else if $type== "ver" {
    align-items: center;
  }
}

// для background
@mixin bg-img($path: "", $size: cover, $repeat: no-repeat, $pos: center) {
  background-image: url($path);
  background-size: $size;
  background-repeat: $repeat;
  background-position: $pos;
}

// применит transition с указанными параметрами
@mixin transition($transition: all 0.2s linear) {
  transition: $transition;
}


@mixin number-list ($content:""){
  &::before{
    content: $content;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    font-family: $acromexbold;
    font-size: fontsz(25);
    line-height: fontsz(30.25);
    text-transform: uppercase;

    @include tablet{
      font-size: fontsz(17);
      line-height: fontsz(20.19);
    }

    @include desktop{
      font-size: fontsz(19);
      line-height: fontsz(22.5);
    }
  }
}

@mixin bluedots {
  &::after{
    content: "";
    display: block;
    position: absolute;
    top: fontsz(38.25);
    left: fontsz(30);
    margin-bottom: fontsz(8);
    width: fontsz(10);
    height: fontsz(10);
    background-color: $secondary-text-bg-color;
  

    @include tablet{
      width: fontsz(7);
      height: fontsz(7);
      top: fontsz(27.19);
      left: fontsz(18);
    }

    @include desktop{
      width: fontsz(8);
      height: fontsz(8);
      top: fontsz(28.5);
      left: fontsz(20);
    }
  }
}