%header {
  text-transform: uppercase;
  margin-top: 0;
  font-family: $acromexbold;
  font-size: 1.29rem;

  @include tablet {
    font-size: 1.93rem;
    line-height: 2.43rem;
  }

  @include desktop {
    font-size: 2.14rem;
    line-height: 2.68rem;
  }
  &::before {
    content: "\005B \0020";
  }
  &::after {
    content: "\0020 \005D";
  }
}


%button-orange {
  display: block;
  font-family: $acromexbold;
  text-transform: uppercase;
  background-color: $button-bg-color;
  color: $text-header-color;
  border: none;
  box-shadow: 0px 5px 6px 0px $shadow-btn-color;
  outline: none;
  cursor: pointer;
  transition: all 200ms linear;

  @include tablet {
    box-shadow: 0 7px 10px rgba(196, 87, 15, 0.26);
  }

  @include desktop {
    box-shadow: 0 9px 13px rgba(196, 87, 15, 0.26);
  }

  &:hover {
    background-color: rgb(23, 236, 255);
    box-shadow: 0px 5px 6px 0px rgba(23, 236, 255, 0.26);

    @include tablet {
      box-shadow: 0px 7px 10px 0px rgba(23, 236, 255, 0.26);
    }

    @include desktop {
      box-shadow: 0px 9px 13px 0px rgba(23, 236, 255, 0.26);
    }

    &:active {
      background-color: rgb(6, 164, 178);
      box-shadow: 0px 5px 6px 0px rgba(6, 164, 178, 0.26);

      @include tablet {
        box-shadow: 0px 7px 10px 0px rgba(6, 164, 178, 0.26);
      }

      @include desktop {
        box-shadow: 0px 9px 13px 0px rgba(6, 164, 178, 0.26);
      }
    }
  }
}

%header-description {
    font-family: $acrommd;
        line-height: 1.39rem;
        position: relative;
  
        @include tablet {
            font-size: 0.64rem;
            padding-left: 3.36rem;
            line-height: 1rem;
            margin: 0;
        }
  
        @include desktop {
            font-size: 0.71rem;
            line-height: 1.07rem;
        }
  
        &::before {
            position: absolute;
            top: 0.45rem;
            left: -2.79rem;
            display: block;
            content: '';
            width: fontsz(20);
            height: fontsz(4);
            background-color: $main-heading-color;
          
            @include tablet {
                left: 0rem;
                width: fontsz(29);
                height: fontsz(3);
            }
        }
}

%bg-title{
  margin: 0;
  padding: 0;
  position: absolute;
  transform: rotate(90deg);
  top: fontsz(17);
  left: 0;
  font-family: $acromexbold;
  font-size: fontsz(101.73);
  color: $white-pseudo-text-color;
  text-transform: uppercase;
  z-index: -1;

  @include tablet{
    top: fontsz(47);
    left: fontsz(184);
  }

  @include desktop{
    top: fontsz(50);
    left: fontsz(224);
  }
}