// Colors
$txt-primary: #000; //primary-text-color
$txt-second:#3f4144;//secondary-text-color

// Fonts
$acromlight: 'Acrom Light';
$acromreg: 'Acrom Regular';
$acrommd: 'Acrom Medium';
$acrombold: 'Acrom Bold';
$acromexbold: 'Acrom Extra Bold';
$gilroy: 'Gilroy Light';
$minion: 'Minion Pro Regular';
$futuramd:'Futura Medium';
$futurabold: 'Futura Demi';