$main-font-stack: 'Acrom', sans-serif;
$policy-font-stack: 'Gilroy', sans-serif;
$header-footer-bg-color: rgb(24, 28, 39);
$text-header-color: rgb(255, 255, 255);
$secondary-text-header-color: rgb(175, 176, 179);
$text-footer-color: rgb(255, 255, 255);
$text-price-color: rgb(255, 255, 255);
$button-bg-color: rgb(255, 107, 8);
$orange-text-color: rgb(255, 107, 8);
$main-text-color: rgb(63, 65, 68);
$main-heading-color: rgb(0, 0, 0);
$secondary-heading-color: rgb(255, 255, 255);
$main-text-bg-color: rgb(0, 0, 0);
$secondary-text-bg-color: rgb(22, 235, 254);
$third-text-bg-color: rgb(255, 107, 8);
$main-mark-color: rgb(0, 0, 0);
$secondary-mark-color: rgb(22, 235, 254);
$third-mark-color: rgb(255, 107, 8);
$header-pseudo-text-color: rgba(0, 0, 0, 0.2);
$white-pseudo-text-color: rgb(247, 247, 247);
$black-pseudo-text-color: rgba(0, 0, 0, 0.051);
$placeholder-text-color: rgb(191, 191, 191);
$policy-text-color: rgb(101, 102, 106);




  