.input-form{
    box-shadow: 0 8px 14px rgba(0, 0, 0, 0.15);
    padding: fontsz(66);

    @include tablet{
        padding: fontsz(55);
      }

      @include desktop{
        padding: fontsz(62);
        }
 
    .input-list {
    margin: 0;
    padding: 0;
    width: 100%;

      .list-item{
        margin-bottom: fontsz(21);

        &:last-child{
            margin-bottom: 0;
        }

        @include tablet{
          margin-bottom: fontsz(17);
        }

        @include desktop{
          margin-bottom: fontsz(20);
        }
      }

    .input-item{
      padding: 0;
      border: none;
      border-bottom: 1px solid $placeholder-text-color;

      .label{
        font-family: $acromreg;
        font-size: fontsz(8);
        line-height: fontsz(11.95);
        color: $placeholder-text-color;

        @include tablet{
          font-size: fontsz(7);
          line-height: fontsz(10.09);
        }

        @include desktop{
            font-size: fontsz(6);
            line-height: fontsz(11.95);
          }
      }

      .input-area{
        width: 100%;
        padding: 0;
        margin: 0;
        color: $main-heading-color;
        border: none;

      &:focus {
        outline-color: $placeholder-text-color;
      }

      &:valid:not(:placeholder-shown){
        outline-color: $secondary-mark-color;
      }
      
      &:invalid:not(:placeholder-shown){
        outline-color: $third-mark-color;
      }


      &::placeholder {
        font-family: $acrommd;
        font-size: fontsz(9);
        line-height: fontsz(35.95);
        color: $main-heading-color;

        @include tablet{
            font-size: fontsz(8);
            line-height: fontsz(28.59);
          }
  
          @include desktop{
              font-size: fontsz(9);
              line-height: fontsz(31.25);
            }
      }
    }
    }
  }

  .submit-btn {
      @extend %button-orange;
      width: fontsz(174);
      height: fontsz(34);
      font-size: fontsz(8);
      margin-top: fontsz(33);

      @include tablet{
        width: fontsz(147);
        height: fontsz(29);
        font-size: fontsz(7);
        margin-top: fontsz(28);
      }

      @include desktop{
        width: fontsz(163);
        height: fontsz(32);
        font-size: fontsz(8);
        margin-top: fontsz(33);
      }
    }
}


