.offer{
  padding: fontsz(80);
  background-color: $offer-bg-color;
  box-shadow: 0 8px 14px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  flex-basis: 50%;

  @include tablet {
    box-shadow: 0 14px 27px rgba(0, 0, 0, 0.15);
    padding: fontsz(56);
  }

  @include desktop {
    padding: fontsz(62);
  }

.col1{
    height: fontsz(114);
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include tablet{
      height: fontsz(82);
    }

    @include desktop{
      height: fontsz(90);
    }

    .offer__value{
      font-family: $acrommd;
      color: $text-header-color;
      font-size: fontsz(13);
      line-height: fontsz(19.33);
      margin: 0;
      padding: 0;

      @include tablet{
        font-size: fontsz(9);
        line-height: fontsz(13.46);
      }

      @include desktop{
        font-size: fontsz(10);
        line-height: fontsz(15);
      }
    }

    .offer__today{
      display: inline;
      color: $main-heading-color;
      font-family: $acrommd;
      font-size: fontsz(13);
      line-height: fontsz(19.33);
      background: $secondary-text-bg-color;
      margin: 0;
      padding: 0;

      @include tablet{
        font-size: fontsz(9);
        line-height: fontsz(13.46);
      }

      @include desktop{
        font-size: fontsz(10);
        line-height: fontsz(15);
      }
    }
  }


  .col2{
    height: fontsz(114);
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include tablet{
        height: fontsz(82);
      }
  
      @include desktop{
        height: fontsz(90);
      }

    .offer__price{
        color: $text-price-color;
        font-family: $acromexbold;
        font-size: fontsz(14);
        line-height: fontsz(29);
        text-transform: uppercase;
        margin: 0;
        padding: 0;
        padding-left: fontsz(45);
        position: relative;

      @include tablet{
          font-size: fontsz(10);
          line-height: fontsz(20.19);
          padding-left: fontsz(31);
      }
    
      @include desktop{
          font-size: fontsz(10);
          line-height: fontsz(15);
          padding-left: fontsz(35);
      }

      &::before{
        display: block;
        content: "";
        width: fontsz(37);
        height: fontsz(1);
        background-color: $secondary-heading-color;
        position: absolute;
        top: fontsz(14);
        left: fontsz(0);

        @include tablet{
          width: fontsz(26);
          top: fontsz(10.09);
        }
      
        @include desktop{
          width: fontsz(29);
          top: fontsz(9);
        }
      }
    }

    .offer__best-brice{
        color: $text-price-color;
        font-family: $acromexbold;
        font-size: fontsz(39);
        margin: 0;
        padding: 0;

        @include tablet{
          font-size: fontsz(27);
        }
        
        @include desktop{
          font-size: fontsz(30);
        }

        .cash-id{
        font-size: fontsz(13);
        text-transform: uppercase;

        @include tablet{
          font-size: fontsz(9);
        }

        @include desktop{
          font-size: fontsz(10);
        }
      }
    }
  }
}