.advantages {
  padding: fontsz(30) 0 fontsz(22);

  @include tablet {
    padding: fontsz(45) 0;
  }

  @include desktop {
    padding: fontsz(60) 0;
  }

  &__pos {
    @include tablet {
      display: flex;
      justify-content: space-between;
    }
  }

  &__img-section {
    @include tablet {
      width: fontsz(276);
    }

    @include tablet {
      width: fontsz(312);
    }
  }

  &__text-wrapper {
    padding: fontsz(32) 0 fontsz(42);

    @include tablet {
      padding: 0;
      padding-top: fontsz(32);
      display: flex;
      justify-content: space-between;
    }

    @include desktop {
      padding-top: fontsz(40);
    }
  }

  &__img-title {
    margin: 0;
    margin-bottom: fontsz(26);
    padding-left: fontsz(100);
    font-size: fontsz(18);
    line-height: fontsz(24);
    text-transform: uppercase;

    @include tablet {
      padding: 0;
      margin: 0;
      width: fontsz(78);
      font-size: fontsz(9);
      line-height: fontsz(15);
    }

    @include desktop {
      width: fontsz(104);
      font-size: fontsz(10);
      line-height: fontsz(16);
    }
  }

  &__title-bg {
    color: $text-header-color;
    background-color: $main-heading-color;

    &--p {
      padding: 0 fontsz(7);

      @include tablet {
        padding: 0;
      }
    }
  }

  &__img-dscr {
    margin: 0;
    font-size: fontsz(13.5);
    line-height: fontsz(20);
    color: $main-text-color;
    font-family: $acromreg;

    @include tablet {
      width: fontsz(168);
      font-size: fontsz(8);
      line-height: fontsz(12);
    }

    @include desktop {
      width: fontsz(190);
      font-size: fontsz(9);
      line-height: fontsz(13);
    }
  }

  &__img-motivation {
    display: block;
    margin: 0;
    margin-bottom: fontsz(6);
    font-family: $acrombold;
    font-size: fontsz(13.5);
    line-height: fontsz(20);

    @include tablet {
      font-size: fontsz(9);
      line-height: fontsz(13);
    }

    @include desktop {
      font-size: fontsz(10);
      line-height: fontsz(15);
    }
  }

  &__img-dscr-bg {
    color: $main-heading-color;
    background-color: $secondary-text-bg-color;
  }

  &__section-list {
    @include tablet {
      width: fontsz(312);
    }

    @include desktop {
      width: fontsz(348);
    }
  }

  &__list-title {
    margin: 0 0 fontsz(16) fontsz(77);
    font-size: fontsz(18);
    line-height: fontsz(24);
    text-transform: uppercase;

    @include tablet {
      margin: 0;
      margin-bottom: fontsz(18);
      width: fontsz(238);
      font-size: fontsz(27);
      line-height: fontsz(34);
    }

    @include desktop {
      margin-bottom: fontsz(20);
      width: fontsz(266);
      font-size: fontsz(30);
      line-height: fontsz(38);
    }
  }

  &__pre-title {
    position: relative;
    margin: 0;
    margin-left: fontsz(77);
    padding-left: fontsz(27);
    width: 288px;
    font-size: fontsz(13.5);
    line-height: fontsz(20);
    font-family: $acrommd;

    @include tablet {
      margin: 0;
      width: 200px;
      padding-left: fontsz(40);
      font-size: fontsz(9);
      line-height: fontsz(13);
    }

    @include desktop {
      width: 200px;
      padding-left: fontsz(43);
      font-size: fontsz(10);
      line-height: fontsz(15);
    }

    &::before {
      display: block;
      content: "";
      position: absolute;
      left: 0;
      top: fontsz(8);
      width: fontsz(14);
      height: fontsz(3);
      background-color: $main-text-bg-color;

      @include tablet {
        top: fontsz(4);
        width: fontsz(28);
      }

      @include desktop {
        width: fontsz(31);
        height: fontsz(4);
      }
    }
  }

  &__list {
    padding-top: fontsz(40);

    @include desktop {
      padding-top: fontsz(44);
    }
  }

  &__item {
    position: relative;
    padding-left: fontsz(38);

    &:not(:last-child) {
      margin-bottom: fontsz(30);
    }

    @include tablet {
      width: fontsz(240);
      padding-left: fontsz(30);

      &:not(:last-child) {
        margin-bottom: fontsz(14);
      }
    }

    @include desktop {
      width: fontsz(288);
      padding-left: fontsz(33);

      &:not(:last-child) {
        margin-bottom: fontsz(21);
      }
    }

    &::before {
      position: absolute;
      top: fontsz(7);
      left: fontsz(19);
      display: block;
      content: "";
      width: fontsz(5);
      height: fontsz(5);
      background-color: $main-text-bg-color;

      @include tablet {
        top: fontsz(4);
        left: 0;
        width: fontsz(7);
        height: fontsz(7);
      }

      @include desktop {
        width: fontsz(8);
        height: fontsz(8);
      }
    }
  }

  &__item-title {
    margin: 0;
    margin-bottom: fontsz(16);
    line-height: fontsz(20);
    font-family: $acromexbold;
    text-transform: uppercase;

    @include tablet {
      margin-bottom: fontsz(5);
      font-size: fontsz(9);
      line-height: fontsz(15);
    }

    @include desktop {
      margin-bottom: fontsz(6);
      font-size: fontsz(10);
      line-height: fontsz(16);
    }
  }

  &__item_dscr {
    margin: 0;
    line-height: fontsz(20);
    color: $main-text-color;
    font-family: $acromreg;

    @include tablet {
      font-size: fontsz(8);
      line-height: fontsz(12);
    }

    @include desktop {
      font-size: fontsz(9);
      line-height: fontsz(13);
    }
  }
}
