.section-11-heading {
    margin-bottom: fontsz(35);
    @include tablet {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: fontsz(238);
        margin-bottom: fontsz(65);
    }
    @include desktop {
        height: fontsz(270);
        margin-bottom: fontsz(75);
    }
    &__header {
        @extend %header;
        margin-bottom: fontsz(25);
        @include tablet {
            width: fontsz(236);
        }
    }
    &__text{
        width: fontsz(322);
        margin: 0 auto;
        line-height: fontsz(19);
        margin-top: 0;
        margin-bottom: fontsz(42);
        @include tablet {
            order: 3;
            display: flex;
            margin-bottom: fontsz(25);
            justify-content: center;
        }
        &--header {
            @extend %list-header;
            @include tablet {
                line-height: fontsz(15);
                width: fontsz(100);
            }
            @include desktop {
                width: fontsz(112);
                margin-left: auto;
            }
        }
        &--description {
            @extend %list-paragraph;
            @include tablet {
                line-height: fontsz(13);
                width: fontsz(140);
            }
            @include desktop {
                margin-left: auto;
            }
        }
    }
    &__image {
        margin-bottom: fontsz(60);
        @include tablet {
            align-self: flex-end;
            order: 4;
            margin-bottom: 0;
        }
    }
    &__description {
        @extend %header-description;
        width: fontsz(260);
        margin: 0 auto;
        @include tablet {
            order: 2;
            width: fontsz(210);
        }
    }
}
.section-11-list {
    @include tablet {
        display: flex;
        margin-bottom: fontsz(95);
    }
    &__top {
        background-image: url(../images/mobile/Layer_413.png);
        background-repeat: no-repeat;
        background-position: top right;
        width: fontsz(300);
        margin: 0 auto;
        padding: 0;
        margin-bottom: fontsz(45);
        @media screen and (max-width: 767px) {
            margin: 0 auto;
        }
        @include tablet {
            background-image: url(../images/tablet/Layer_413.png);
            margin-bottom: 0;
            width: fontsz(160);
            margin: 0;
            background-position: right 25% top 0%;
        }
        &--main-header {
            @extend %list-bg-header;
        }
        &--second-header {
            @extend %list-header;
            width: fontsz(190);
            @include tablet {
                width: fontsz(125);
            }
        }
        &--description {
            @extend %list-paragraph;
            width: fontsz(315);
            @include tablet {
                width: fontsz(140);
            }
        }
    }
    &__bottom {
        width: fontsz(300);
        margin: 0 auto;
        padding: 0;
        margin-bottom: fontsz(70);
        @include tablet {
            display: flex;
            width: 100%;
            margin: 0;
            flex-wrap: wrap;
        }
        &-item {
            position: relative;
            @include tablet {
                width: fontsz(150);
                margin-left: auto;
            }
            @include desktop {
                width: fontsz(170);
                margin-left: auto;
            }
        }
        &--main-header {
            @extend %list-bg-header;
        }
        &--second-header {
            @extend %list-header;
            width: fontsz(180);
            @include tablet {
                width: fontsz(60);
            }
            @include desktop {
                width: fontsz(70);
            }
        }
        &--description {
            @extend %list-paragraph;
            width: fontsz(226);
            &-bold {
                display: block;
                font-weight: 700;
            }
            @include tablet {
                width: fontsz(90);
            }
            @include desktop {
                width: fontsz(82);
            }
        }
        &--pseudo {
            position: absolute;
            color: $black-pseudo-text-color;
            font-size: fontsz(50);
            font-weight: bold;
            text-transform: uppercase;
            font-family: $futurabold;
            transform: rotate(270deg);
            top: 0;
            right: fontsz(70);
            margin: 0;
            @include tablet {
                font-size: fontsz(28);
                right: 0;
            }
        }
    }
}
.item-image-1{
    background-image: url(../images/mobile/Layer_351.png);
    background-repeat: no-repeat;
    background-position: right;
    @include tablet {
        background-image: url(../images/tablet/Layer_351.png);
        background-size: 40px 95px;
        background-position: right 10% top 0%;
    }
    @include desktop {
        background-image: url(../images/desktop/Layer_351.png);
        @media screen and (min-resolution: 192dpi) and (min-resolution: 2dppx) {
            background-image: url(../images/desktop/Layer_351@2x.png);
        }
    }
}
.item-image-2{
    background-image: url(../images/mobile/Layer_398.png);
    background-repeat: no-repeat;
    background-position: right;
    @include tablet {
        background-image: url(../images/tablet/Layer_398.png);
        background-size: 44px 80px;
        background-position: right 20% top 0%;
    }
    @include desktop {
        background-image: url(../images/desktop/Layer_398.png);
        @media screen and (min-resolution: 192dpi) and (min-resolution: 2dppx) {
            background-image: url(../images/desktop/Layer_398@2x.png);
        }
    }
}
.section-11-list__bottom-item:nth-child(1) {
    margin-bottom: fontsz(30);
    @include tablet {
        margin-bottom: 0;
        width: 100%;
        padding-left: fontsz(6);
    }
}
.section-11-list__bottom-item:nth-child(n+2) {
    margin-bottom: fontsz(45);
    @include tablet{
        margin-bottom: 0;
        margin-right: auto;
    }
}
.section-11-list__bottom-item:nth-child(4) {
    margin-bottom: 0;
}