.important{
  padding-top: fontsz(56);
  padding-bottom: fontsz(66);
  position: relative;

  @include tablet{
    padding-top: fontsz(56);
    padding-bottom: fontsz(56);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  @include tablet{
    padding-top: fontsz(63);
    padding-bottom: fontsz(63);
  }

  .section-title {
    @extend %header;
    margin: 0;
    padding: 0;
    position: absolute;
    top: fontsz(40);
    left: 50%;
    transform: translate(-50%, -50%);

    @include tablet{
      margin-bottom: fontsz(33);
      position: static;
      transform: translate(0);
      top: 0;
      left: 0;
    }

    @include desktop{
      margin-bottom: fontsz(38);
      }
  }

  .offer{
    margin-bottom: fontsz(40);
    flex-basis: 40.3125%;

    @include tablet{
      margin-bottom: 0;
    }
  }

  .text-block{

    @include tablet{
      flex-basis: 40.3125%;
    }
  }

  .text-wrapper{
    padding-bottom: fontsz(31);
    width: 66.1435%;
    margin: 0 auto;

    @include tablet{
      padding-left: fontsz(24);
      padding-right: fontsz(65);
      padding-bottom: 0;
      width: 100%;
    }

    @include desktop {
      padding-left: fontsz(27);
      padding-right: fontsz(71);
    }

    .text-present{
      margin: 0;
      padding: 0;
      line-height: fontsz(18.86);
      margin-bottom: fontsz(15);

      @include tablet{
        font-size: fontsz(9);
        line-height: fontsz(11.78);
        margin-bottom: fontsz(8);
      }

      @include desktop{
        font-size: fontsz(10);
        line-height: fontsz(13.13);
        margin-bottom: fontsz(9);
      }
    }

    .text-itbrand{
      margin: 0;
      padding: 0;
      font-family: $acrommd;
      font-size: fontsz(13);
      color: $main-text-color;
      line-height: fontsz(18.86);
      margin-bottom: fontsz(25);

      @include tablet{
        font-size: fontsz(8);
        line-height: fontsz(11.78);
        margin-bottom: fontsz(15);
      }

      @include desktop{
        font-size: fontsz(9);
        line-height: fontsz(13.13);
        margin-bottom: fontsz(17);
      }
    }

    .text-notice {
      margin: 0;
      padding: 0;
      font-family: $acrommd;
      color: $orange-text-color;
      line-height: fontsz(21.55);
      text-shadow: $main-text-bg-color 0 0 1px;
      margin-bottom: fontsz(31);
      position: relative;

      @include tablet{
        font-size: fontsz(9);
        line-height: fontsz(13.46);
        margin-bottom: fontsz(21);
      }

      @include desktop{
        font-size: fontsz(10);
        line-height: fontsz(15);
        margin-bottom: fontsz(22);
      }

      &::before{
        content: "";
        display: block;
        @include bg-img ("../images/icon/slash.svg");
        width: fontsz(17);
        height: fontsz(28);
        position: absolute;
        top: fontsz(4);
        left: fontsz(-39);

        @include tablet{
          width: fontsz(11);
          height: fontsz(18);
        }

        @include desktop{
          width: fontsz(12);
          height: fontsz(20);
        }
      }
    }
  }
  
  .takeit-btn{
    @extend %button-orange;
    display: block;
    margin: 0 auto;
    width: fontsz(295);
    height: fontsz(41);
    font-size: fontsz(10);

    @include tablet{
      width: fontsz(202);
      height: fontsz(29);
      font-size: fontsz(7);
      margin: 0;
    }

    @include desktop{
      width: fontsz(225);
      height: fontsz(32);
      font-size: fontsz(8);
    }
  }
}