.section-8 {
  padding-top: fontsz(0);
  padding-bottom: fontsz(31);

    @include tablet {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        height: fontsz(449);
        padding-top: fontsz(27);
        padding-bottom: fontsz(46);
    }
    @include desktop {
        height: fontsz(500);
        padding-top: fontsz(40);
        padding-bottom: fontsz(63);
    }
    &__header-image {
        @media screen and (max-width: 767px) {
            margin: 0 auto;
            margin-bottom: fontsz(27);
        }
        @include tablet {
            align-self: flex-start;
        }
    }
    &__heading{
        @media screen and (max-width: 767px) {
            width: fontsz(352);
            margin: 0 auto;
            margin-bottom: fontsz(25);
        }
        @include tablet {
            padding-left: 0;
            order: 3;
            width: fontsz(290);
            margin-bottom: fontsz(45);
        }
        &--header {
            @extend %header;
            width: fontsz(185);
            @include tablet {
                width: fontsz(300);
            }
        }
        &--description {
            @extend %header-description;
            margin: 0;
            margin-left: fontsz(40);
            width: fontsz(275);
            @include tablet {
                margin-left: 0;
            }
        }
    }
    &__image {
        @media screen and (max-width: 767px) {
            margin-bottom: fontsz(25);
        }
        @include tablet {
            order: 4;
        }
    }
    &__text {
        width: fontsz(352);
        margin: 0 auto;
        margin-bottom: fontsz(45);
        @include tablet {
            order: 2;
            margin: 0;
            padding-left: 0;
        }
        &--header {
            font-family: $acromexbold;
            margin: 0;
            font-size: fontsz(14);
            line-height: fontsz(22);
            text-transform: uppercase;
            margin-bottom: fontsz(25);
            position: relative;
            padding-left: fontsz(25);
            @include tablet {
                font-size: fontsz(9);
                line-height: fontsz(15);
                padding-left: fontsz(0);
                padding-top: fontsz(30);
                margin-bottom: fontsz(15);
            }
            @include desktop {
                font-size: fontsz(10);
                line-height: fontsz(16);
            }
            &::before {
                position: absolute;
                display: block;
                content: '';
                width: fontsz(8);
                height: fontsz(8);
                background-color: $main-heading-color;
                bottom: fontsz(5);
                left: 0;
                @include tablet {
                    top: 0;
                }
            }
            
        }
        &--description {
            margin: 0;
            color: $main-text-color;
            font-family: $acromreg;
            font-size: fontsz(14);
            line-height: fontsz(19);
            @include tablet {
                font-size: fontsz(8);
                line-height: fontsz(12);
                width: fontsz(215);
            }
            @include desktop {
                font-size: fontsz(9);
                line-height: fontsz(14);
                width: fontsz(240);
            }
        }
    }
}