.wcourse{
    padding-top: fontsz(20);
    padding-bottom: fontsz(51);

    @include tablet{
      padding-top: fontsz(40);
      padding-bottom: fontsz(43);
    }

    @include desktop{
        padding-top: fontsz(61);
        padding-bottom: fontsz(62);
      }

    &__intro{
      margin-bottom: fontsz(30);

      @include tablet{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: fontsz(50);
      }
  
      @include desktop{
        margin-bottom: fontsz(55);
        }
    }

    &__text-wrapper{
        
        @include tablet{
          order: 2;
          width: fontsz(313);
          }
    }
    
    &__title{
      @extend %header;
      text-align: center;
      margin-bottom: fontsz(21);
      
      @include tablet{
        text-align: left;
        width: fontsz(216);
      }
  
      @include desktop{
        width: fontsz(240);
        }
    }

    &__subtitle{
      @extend %header-description;
      margin: 0 auto;
      width: fontsz(236);
      margin-bottom: fontsz(36);

      @include tablet{
        margin: 0;
      }
    }

    .not-typical-it{
      margin: 0 auto;
      margin-bottom: fontsz(42);
      width: fontsz(300);

      @include tablet{
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin: 0;
          width: 100%;
          margin-bottom: fontsz(55);
      }

      @include tablet{
        margin-bottom: fontsz(63);
    }

      &__text{
          flex-basis: 50%;

          @include tablet{
           display: flex;
           flex-wrap: wrap;
        }
      }

      &__title-block{
        margin: 0;
        margin-bottom: fontsz(19);

        @include tablet{
            margin: 0;
            width: fontsz(92);
            margin-right: fontsz(27);
        }

        @include desktop{
            width: fontsz(102);
            margin-right: fontsz(27);
        }
      }

      &__title-block--1{
        @include tablet{
            margin-bottom: fontsz(26);
        }
      }

      &__title{
        font-family: $acromexbold;
        line-height: fontsz(19.5);
        color: $secondary-heading-color;
        text-transform: uppercase;
        background-color: $main-text-bg-color;

        @include tablet{
            line-height: fontsz(14.58);
            font-size: fontsz(9);
        }

        @include desktop{
            line-height: fontsz(16.25);
            font-size: fontsz(10);
        }
      }

      &__description{
        margin: 0;
        font-family: $acromreg;
        line-height: fontsz(19.5);
        color: $main-text-color;

        @include tablet{
            line-height: fontsz(11.78);
            font-size: fontsz(8);
            width: fontsz(152);
        }

        @include desktop{
            line-height: fontsz(13.13);
            font-size: fontsz(9);
            width: fontsz(175);
        }
      }

      &__description--1{
          margin-bottom: fontsz(26);
      }

      &__img-block{
        
        @media screen and (max-width: 767px){
            display: none;
        }
    }
    }

    .what-you-receive{

        @include tablet{
            position: relative;
            display: flex;
            justify-content: space-between;
          }

        &__text{
          margin: 0 auto;
          margin-bottom: fontsz(30);
          font-family: $acromexbold;
          line-height: fontsz(19.5);
          text-transform: uppercase;
          width: fontsz(375);

          @include tablet{
            margin: 0;
            font-size: fontsz(9);
            line-height: fontsz(14.58);
            flex-basis: 16%;
            // width: fontsz(100);
          }

          @include desktop{
            font-size: fontsz(10);
            line-height: fontsz(16.25);
            // width: fontsz(111);
          }
        }

        &__list{
            width:fontsz(296);
            margin: 0 auto;
            margin-bottom: fontsz(53);
    
            @include tablet{
              margin: 0;
              display: flex;
              flex-basis: 75%;
              flex-wrap: wrap;
            //   justify-content: space-between;
            }
        }
    
        &__item{
            margin: 0;
            padding-left: fontsz(32);
            margin-bottom: fontsz(29);
            position: relative;
    
            &:nth-last-child(1){
                margin-bottom: 0;
            }
    
            @include tablet{
              flex-basis: 31.25%;
              padding-left: fontsz(22);
              margin-bottom: fontsz(26);
    
              &:nth-last-child(-n+2){
                margin-bottom: 0;
            }

              &:not(:nth-child(3n)){
                margin-right: fontsz(15);
              }
            }
      
              @include desktop{
                flex-basis: 30.25%;
                padding-left: fontsz(25);
                margin-bottom: fontsz(30);
              }
    
            @include orange-line;
        }
    
        &__item--1{
            @include number-list-orange(" 001 ")
        }
    
        &__item--2{
            @include number-list-orange(" 002 ")
        }
    
        &__item--3{
            @include number-list-orange(" 003 ")
        }
    
        &__item--4{
            @include number-list-orange(" 004 ")
        }
    
        &__item--5{
            @include number-list-orange(" 005 ")
        }

        &__title{
            margin: 0;
            padding: 0;
            font-family: $acrombold;
            line-height: fontsz(19.5);
            margin-bottom: fontsz(15);

            @include tablet{
              font-size: fontsz(9);
              line-height: fontsz(11.78);
              margin-bottom: fontsz(9);
            }

            @include desktop{
              font-size: fontsz(10);
              line-height: fontsz(13.13);
            }
        }

        &__descr{
            margin: 0;
            padding: 0;
            font-family: $acromreg;
            line-height: fontsz(19.5);
            color: $main-text-color;

            @include tablet{
                font-size: fontsz(8);
                line-height: fontsz(11.78);
              }

              @include desktop{
                font-size: fontsz(9);
                line-height: fontsz(13.13);
              }
        }

        &__prices{
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            align-items: center;
            width:fontsz(296);
            
          

            @include tablet{
              width:fontsz(140);
              margin: 0;
              position: absolute;
              bottom: 0;
              right: 0;
              }

              @include desktop{
                width:fontsz(164);
                }
        }

        &__proposition{
          font-family: $acrommd;
          font-size: fontsz(17);
          line-height: fontsz(29.08);
          background-color: $secondary-text-bg-color;

          &-block{
            margin: 0;
          }

          @include tablet{
            font-size: fontsz(8);
            line-height: fontsz(13.46);
          }

          @include desktop{
            font-size: fontsz(9);
            line-height: fontsz(15);
          }
        }

        &__old-price{
            margin: 0;
            font-family: $acromexbold;
            font-size: fontsz(17);
            line-height: fontsz(43.63);
            color: $main-text-color;
            text-transform: uppercase;
            text-decoration: line-through;

            @include tablet{
                font-size: fontsz(8);
                line-height: fontsz(20.19);
              }
    
              @include desktop{
                font-size: fontsz(9);
                line-height: fontsz(22.5);
              }
        }

        &__new-price{
          margin: 0;
          font-family: $acromexbold;
          font-size: fontsz(36);
          line-height: fontsz(43.63);
          text-transform: uppercase;

          @include tablet{
            font-size: fontsz(17);
            line-height: fontsz(20.19);
          }

          @include desktop{
            font-size: fontsz(19);
            line-height: fontsz(22.5);
          }
          
          &--small{
            font-size: fontsz(19);

            @include tablet{
                font-size: fontsz(9);
              }
    
              @include desktop{
                font-size: fontsz(10);
              }
          }
        }
    }
}