.section-5 {
  padding-top: fontsz(14);
  padding-bottom: fontsz(14);

    @include tablet {
        display: flex;
        justify-content: center;
        padding-top: fontsz(56);
        padding-bottom: fontsz(56);
        &__header {
            width: 14rem;
        }

    }

    @include desktop{
      padding-top: fontsz(60);
      padding-bottom: fontsz(62);
    }
}
.slider-section {
    color: $main-heading-color;
    padding-left: 0;
    @media screen and (max-width: 767px) {
        width: 20rem;
        padding: 0;
        margin: 0 auto;
        margin-bottom: 2.79rem;
    }
    @media screen and (min-width: 768px) {
        width: 12.14rem;
        margin: 0;
    }
    @media screen and (min-width: 768px) {
        width: 13.14rem;
    }
    &__heading {
        @extend %header;
        margin-bottom: 0;
        @media screen and (min-width: 768px) {
            margin-bottom: 2.71rem;
        }
        @media screen and (min-width: 1200px) {
            margin-bottom: 3rem;
        }
        &--wrap {
            display: block;
        }
    }
    &__text {
        @extend %header-description;
        &--text-bg {
            background-color: $main-text-bg-color;
            color: $text-header-color;
        }
    }
}