.videocourse{
    margin: 0 auto;
    padding-top: fontsz(23);
    padding-bottom: fontsz(45);
    display: flex;
    flex-direction: column;

    @include tablet{
        padding-top: fontsz(34);
        padding-bottom: fontsz(56);
        flex-direction: row;
        flex-wrap: wrap;
    }

    @include desktop{
        padding-top: fontsz(37);
        padding-bottom: fontsz(60);
    }

    &__intro{
        margin-bottom: fontsz(23);

        @include tablet{
          flex-basis: 100%;
          margin-bottom: fontsz(55);
          display: flex;
          justify-content: space-between;
        }
    
        @include desktop{
          margin-bottom: fontsz(62);
        }


        .mobile-hidden{
            flex-basis: 50%;
            
            @media screen and (max-width: 767px){
              display: none;
            }
        }
    }

    &__img{
        margin-bottom: fontsz(23);
        flex-basis: 45%;
    }

    &__title{
        @extend %header;
    }

    &__subtitle{
        @extend %header-description;
    }

    &__description{
        width: fontsz(284);
        margin: 0 auto;
        margin-bottom: fontsz(52);

        @include tablet{
            flex-basis: 100%;
            margin-bottom: fontsz(12);
            display: flex;
            justify-content: space-between;
        }

        @include desktop{
            margin-bottom: fontsz(14);
        }
    }

    &__text-intro{
        font-family: $acromexbold;
        font-size: fontsz(11);
        line-height: fontsz(16.5);
        text-transform: uppercase;
        margin: 0;
        margin-bottom: fontsz(36);

        @include tablet{
            font-size: fontsz(9);
            line-height: fontsz(16.82);
            margin-bottom: 0;
            flex-basis: 20%;
        }

        @include desktop{
            font-size: fontsz(10);
            line-height: fontsz(18.75);
        }
    }

    &__list{
        display: flex;
        flex-direction: column;

        @include tablet{
          flex-basis: 75%;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: space-between;
        }
    }

    &__item{
        margin: 0;
        padding-left: fontsz(32);
        margin-bottom: fontsz(29);
        position: relative;

        &:nth-last-child(1){
            margin-bottom: 0;
        }

        @include tablet{
          flex-basis: 31.25%;
          padding-left: fontsz(22);
          margin-bottom: fontsz(26);

          &:nth-last-child(-n+3){
            margin-bottom: 0;
        }
        }
  
          @include desktop{
            flex-basis: 30.25%;
            padding-left: fontsz(25);
            margin-bottom: fontsz(30);
          }

        @include orange-line;

        &--heading{
            margin: 0;
            padding: 0;
            font-family: $acrombold;
            font-size: fontsz(13);
            line-height: fontsz(20.31);
            margin-bottom: fontsz(15);

            @include tablet{
              font-size: fontsz(9);
              line-height: fontsz(11.78);
              margin-bottom: fontsz(9);
            }

            @include desktop{
              font-size: fontsz(10);
              line-height: fontsz(13.13);
              margin-bottom: fontsz(10);
            }
        }

        &--description{
            margin: 0;
            padding: 0;
            font-family: $acromreg;
            font-size: fontsz(13);
            line-height: fontsz(20.31);
            color: $main-text-color;

            @include tablet{
                font-size: fontsz(8);
                line-height: fontsz(11.78);
              }
  
              @include desktop{
                font-size: fontsz(9);
                line-height: fontsz(13.13);
              }
        }
    }

    &__item--1{
        @include number-list-orange(" 001 ")
    }

    &__item--2{
        @include number-list-orange(" 002 ")
    }

    &__item--3{
        @include number-list-orange(" 003 ")
    }

    &__item--4{
        @include number-list-orange(" 004 ")
    }

    &__item--5{
        @include number-list-orange(" 005 ")
    }

    &__item--6{
        @include number-list-orange(" 006 ")
    }

    .videocourse__btn{
        @extend %button-orange;
        font-size: fontsz(11);
        width: fontsz(216);
        height: fontsz(50);
        margin: 0 auto;
        order: 2;

        @include tablet{
            margin: 0;
            margin-right: fontsz(34);
            order: 0;
            font-size: fontsz(6);
            width: fontsz(122);
            height: fontsz(29);
          }

          @include desktop{
            margin-right: fontsz(38);
            font-size: fontsz(7);
            width: fontsz(135);
            height: fontsz(32);
          }
    }

    .videocourse__conclusion{
        margin: 0;
        padding: 0;
        padding-left: fontsz(31);
        margin: 0 auto;
        font-family: $acrommd;
        color: $orange-text-color;
        line-height: fontsz(16.5);
        text-shadow: $main-text-bg-color 0 0 1px;
        margin-bottom: fontsz(36);
        position: relative;
    
        @include tablet{
          margin: 0;
          font-size: fontsz(9);
          line-height: fontsz(13.46);
          margin-bottom: 0;
          padding-left: fontsz(31);
          width: fontsz(190);
        }
    
        @include desktop{
          font-size: fontsz(10);
          line-height: fontsz(15);
          padding-left: fontsz(27);
          width: fontsz(212);
        }
    
        &::before{
          content: "";
          display: block;
          @include bg-img ("../images/icon/slash.svg");
          width: fontsz(12);
          height: fontsz(21);
          position: absolute;
          top: fontsz(0);
          left: fontsz(0);
    
          @include tablet{
            width: fontsz(10);
            height: fontsz(18);
            top: fontsz(0);
            left: fontsz(0);
          }
    
          @include desktop{
            width: fontsz(12);
            height: fontsz(20);
          }
        }
    }
}